
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/programs">Программы</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{content.title}}</li>
    </ul>
</nav>


{{#if admin}}
    <form id="form" class="form mt-3" action="/admin/programs" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_id" value="{{content._id}}">
        <div id="editorjs" class="form-control mt-2"></div>
    </form>

    <form id="addImage" action="/admin/photo/uploadImage" method="post">
        <input type="hidden" name="src" value="{{content.src}}">
        <label for="images" class="form-label">Изображения</label>
        <input class="form-control mt-2 col-lg-6" multiple type="file" name="image" id="image" accept="image/*" onchange="this.form.submit()">
    </form>

    <div class="row mt-2">
        <div class="requirementBlock col-lg-6">
            <label class="form-label" for="requirements">Требования к кандидату</label>
            <div id="requirementList">
                <input form="form" class="form-control" required type="text" name="requirements" id="requirements">
            </div>
            
            <button type="button" class="btn border me-2" id="moreReq">+</button>
            <button type="button" class="btn border me-2" id="lessReq">–</button>
        </div>
        
        <div class="docsBlock col-lg-6">
            <label class="form-label" for="docs">Требуемые документы</label>
            <div id="docsList">
                <input form="form" class="form-control" required type="text" name="docs" id="docs">
            </div>

            <button type="button" class="btn border me-2" id="moreDoc">+</button>
            <button type="button" class="btn border me-2" id="lessDoc">–</button>
        </div>
        <button form="form" type="submit" class="btn btn-primary mt-4 mb-4">Добавить</button>
    </div>

    <script src="/javascripts/editor.bundle.js"></script>
    <script src="/javascripts/submit_about-program.js"></script>
    <script src="/javascripts/mlbtn_about-program.js"></script>
{{/if}}

<div class="clearfix">
    {{#ifarr content.images}}
        <div id="carousel" class="carousel slide carousel-fade col-lg-5 img-fluid float-lg-end mb-3 ms-lg-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                {{#each content.images}}
                    {{#if @first}}
                    <div class="carousel-item active">
                        <img src="{{this}}" class="d-block w-100" alt="...">
                    </div>
                    {{/if}}
                    <div class="carousel-item">
                        <img src="{{this}}" class="d-block w-100" alt="...">
                    </div>
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {{else}}
        <img class="col-lg-5 img-fluid float-lg-end mb-3 ms-lg-3" src="https://pic.pnnet.dev/1920x1080" alt="">
    {{/ifarr}}
    
    <h5 class="h4">{{content.title}}</h5>
    <p>    
        {{{content.previewText}}}
        
        {{#unless content.previewText}}
            <strong>(рыба текст)</strong>
            Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и
            модернизации модели развития.
            Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание
            направлений прогрессивного развития. Таким образом рамки и место обучения кадров играет важную роль в
            формировании форм развития. С другой стороны новая модель организационной деятельности позволяет выполнять
            важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. С другой стороны
            дальнейшее развитие различных форм деятельности играет важную роль в формировании систем массового участия.
            Повседневная практика показывает, что новая модель организационной деятельности требуют определения и уточнения
            системы обучения кадров, соответствует насущным потребностям.
        {{/unless}}
    </p>
</div>

<div class="col-lg-3">   
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary"><strong>Требования</strong></li>
        {{#each content.requirements}}
            <li class="list-group-item">{{this}}</li>
        {{/each}}
        <li class="list-group-item">105+</li>
        <li class="list-group-item">Быть заинтересованным</li>
    </ul>
</div>

<div class="mt-3">
{{{content.mainText}}}
{{#unless content.textMain}}
    <strong>(рыба текст)</strong>
    <h3>Кому подойдет это направление</h3>
    Ясность нашей позиции очевидна: новая модель организационной деятельности играет определяющее значение для глубокомысленных рассуждений. И нет сомнений, что стремящиеся вытеснить традиционное производство, нанотехнологии могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но ключевые особенности структуры проекта являются только методом политического участия и представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также высококачественный прототип будущего проекта играет важную роль в формировании благоприятных перспектив. Современные технологии достигли такого уровня, что граница обучения кадров однозначно определяет каждого участника как способного принимать собственные решения касаемо благоприятных перспектив. Прежде всего, семантический разбор внешних противодействий влечет за собой процесс внедрения и модернизации новых принципов формирования материально-технической и кадровой базы.
    <br>
    Предварительные выводы неутешительны: разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение прогресса профессионального сообщества. Но глубокий уровень погружения играет определяющее значение для благоприятных перспектив. В частности, начало повседневной работы по формированию позиции выявляет срочную потребность распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они забывают, что начало повседневной работы по формированию позиции создаёт предпосылки для прогресса профессионального сообщества. Мы вынуждены отталкиваться от того, что существующая теория обеспечивает широкому кругу (специалистов) участие в формировании существующих финансовых и административных условий. Безусловно, повышение уровня гражданского сознания в значительной степени обусловливает важность стандартных подходов.
    <h3>Чему мы научим</h3>
    Также как постоянное информационно-пропагандистское обеспечение нашей деятельности говорит о возможностях благоприятных перспектив. Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования лишь добавляют фракционных разногласий и заблокированы в рамках своих собственных рациональных ограничений. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: консультация с широким активом является качественно новой ступенью экономической целесообразности принимаемых решений. Противоположная точка зрения подразумевает, что представители современных социальных резервов функционально разнесены на независимые элементы. И нет сомнений, что стремящиеся вытеснить традиционное производство, нанотехнологии в равной степени предоставлены сами себе. Внезапно, независимые государства указаны как претенденты на роль ключевых факторов.
    <br>
    Прежде всего, базовый вектор развития является качественно новой ступенью прогресса профессионального сообщества. Таким образом, новая модель организационной деятельности не даёт нам иного выбора, кроме определения глубокомысленных рассуждений. Равным образом, начало повседневной работы по формированию позиции играет определяющее значение для дальнейших направлений развития. Повседневная практика показывает, что современная методология разработки позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
    <h3>Где это пригодится</h3>
    Для современного мира разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение переосмысления внешнеэкономических политик. Противоположная точка зрения подразумевает, что ключевые особенности структуры проекта лишь добавляют фракционных разногласий и призваны к ответу.
{{/unless}}
</div>

<div>
    <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-secondary"><strong>Что нужно для поступления</strong></li>
        {{#ifarr content.docs}}
            {{#each content.docs}}
                <li class="list-group-item">{{this}}</li>
            {{/each}}
        {{else}}
            <li class="list-group-item">Копия паспорта ребёнка</li>
            <li class="list-group-item">Заявление заполненное от руки (<a href="/docs/doc1.docx">шаблон</a>)</li>
            <li class="list-group-item">Документ №3</li>
            <li class="list-group-item">Привезти их по адресу: <u>г. Воронеж, пр-кт Революции, д.20</u></li>
        {{/ifarr}}
    </ul>
</div>