<div class="row d-flex flex-column align-items-center">
{{#if admin}}
    <button type="button" class="btn btn-outline-primary col-10 d-flex flex-column align-items-center shadow-sm" data-bs-toggle="modal" data-bs-target="#modal">Добавить новость</button>

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Новость</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <form id="newsForm" class="form" action="/admin/news/add" method="post" enctype="multipart/form-data">
                    {{!-- <div class="mb-3">
                        <label class="form-label" for="title">Заголовок</label>
                        <input required class="form-control" id="title" type="text" name="title">
                    </div> --}}
                    <div class="mb-3">
                        <label class="form-label" for="image">Фото новости (одна или более)</label>
                        <input required multiple class="form-control" accept="image/*" type="file" name="image" id="image">
                        <div class="mt-2">
                            <input class="form-check-input" type="checkbox" name="save" id="checkbox">
                            <label class="form-check-label" for="checkbox">сохранить в фотоальбом</label><br>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div id="editorjs" class="form-control mb-2"></div>
                    </div>
                </form>
            </div>

            <script src="/javascripts/editor.bundle.js"></script>
            <script src="/javascripts/submit_about-program.js"></script>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" form="newsForm" class="btn btn-success mt-2">Опубликовать</button>
        </div>
        </div>
    </div>
    </div>
{{/if}}
    
<div class="col-11 d-flex flex-column align-items-center">
    {{#unless news}}
        <div class="row m-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0"/>
            </svg>
            <p>Новостей не найдено. Но мы их обязательно найдем</p>
        </div>
    {{/unless}}
    {{#each news}}
        <div class="card col-11 p-3 mt-4 shadow-sm">
            <img class="rounded mx-auto d-block img-fluid" src="{{img}}" alt="" height="300" width="770">
            <div class="card-body">
                <div class="card-title h5">{{title}}</div>
                <div class="card-text">{{{previewText}}}</div>
                <br>
                <a href="/news/{{title}}" class="stretched-link btn btn-primary">Подробнее</a>
                <p class="text-end">{{dateOfCreate}}</p>
            </div>
        </div>
    {{/each}}
</div>